@model Presupuesto

<div class="row align-items-center justify-content-center ">
    <div class="col-6 align-self-center border border-2 rounded p-3" >
        <h4>Seguro que quieres eliminar el Presupuesto:</h4>  
        <p>Id: @Model.IdPresupuesto</p>
        <p>ClienteId: @Model.Cliente.ClienteId</p> 
        <p>Fecha: @Model.FechaCreacion</p>
        <div class="d-flex justify-content-center align-items-center">
            <form class="m-1 text-center" asp-controller="Presupuestos" asp-action="EliminarPresupuestoPost" method="post">
                <input type="hidden" name="IdPresupuesto" value="@Model.IdPresupuesto" />
                <input class="btn btn-danger" type="submit" value="Eliminar"></input>
            </form>
            <form class=" text-center" asp-controller="Presupuestos" asp-action="ListarPresupuesto" method="get">
                <input class="btn btn-info" type="submit" value="Cancelar"></input>
            </form>
        </div>
        
    </div>
</div>
