@model Presupuesto

<form asp-controller="Presupuestos" asp-action="ModificarPresupuesto">
    <div class="form-group">
        <label asp-for="IdPresupuesto"></label>
        <input asp-for="IdPresupuesto" class="form-control" readonly/>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Cliente.ClienteId"></label>
        <input asp-for="@Model.Cliente.ClienteId" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="FechaCreacion"></label>
        <input asp-for="FechaCreacion" class="form-control" type="date" value="@Model.FechaCreacion.ToString("yyyy-MM-dd")" />
    </div>
    <input class="btn btn-primary m-1 " type="submit" value="Modificar"></input>
</form>