@model AltaProductoViewModel

<form asp-controller="Producto" asp-action="CrearProductoPost">
    <div class="form-group">
        <label asp-for="Descripcion"></label>
        <input asp-for="Descripcion" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Precio"></label>
        <input asp-for="Precio" class="form-control" />
        <span asp-validation-for="Precio" class="text-danger"></span>
    </div>
    <input class="btn btn-primary m-1 " type="submit" value="Enviar"></input>
    <a asp-action="ListarProducto" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}