@{
    ViewData["Title"] = "Producto Page";
}

<ul>
    <li>
        <a asp-area="" asp-controller="Producto" asp-action="Listar">Mostrar Productos</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Producto" asp-action="CrearProducto">Crear Productos</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Producto" asp-action="ModificarProducto">Modificar Producto</a>
    </li>
     <li>
        <a asp-area="" asp-controller="Producto" asp-action="EliminarProducto">Eliminar Producto</a>
    </li>
</ul>