@model LogeoViewModel

@{
    // //En caso de que el usuario no escriba el usuario o la contrase침a mando este mensaje de error (No va a pasar porque tengo puesto los requerid en los campos del formulario)
}
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @Model.ErrorMessage
    </div>
}

@if (ViewBag.ErrorMessage != null)
{
        <div class="error-message">
            <p>@ViewBag.ErrorMessage</p>
        </div>
}



<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow-sm p-4" style="max-width: 400px; width: 100%;">
        <h4 class="card-title text-center mb-4">Iniciar sesi칩n</h4>

        <form asp-controller="Logeo" asp-action="Logeo" method="post">
            <div class="form-group">
                <label for="NomUsuario" class="form-label">Usuario:</label>
                <input type="text" class="form-control" id="NomUsuario" name="NomUsuario"  required/>
            </div>

            <div class="form-group">
                <label for="Contrasenia" class="form-label">Contrase침a:</label>
                <input type="password" class="form-control" id="Contrasenia" name="Contrasenia"  required/>
            </div>

            <input class="btn btn-primary m-1" type="submit" value="Iniciar Sesi칩n" />
        </form>

    </div>
</div>